
<p>current total products: <%= @product_total %> <%= link_to "Product Page", admin_products_path %> </p>
<p>current total categories: <%= @category_total %> <%= link_to "Product Page", admin_products_path %> </p>
