<h1>About Us</h1>

<p>Jungle is store of weird and buzzare items. rather it be abustract art or ingenious inventions almost no item will be out of place in this store</p>

<p>
  have questions or concerns contact us at Jungle@outlook.com <br>
  or call us at 123-123-1234
</p>

